<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sjtu.se.reins.contract.mapper.ContractMapper">

	<select id="getDict" resultType="map">
		select * from ${tableName};
	</select>
</mapper>